html {
  background-color: #214ca2;
}

body{
  display: flex;
  flex-direction: row;
  padding: 5% 0 0 0;
  overflow-x: none;
  overflow-y: none;
}
menu{
  margin: 0;
  width: 20%;
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  border-left: none;
  border-right: none;
}
p{
  color: white;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: rgb(70, 40, 15);
  border: 2px solid black;
}
right{
  width: 20%;
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  border-left: none;
  border-right: none;
}
#canvas{
    border: 10px solid rgb(121, 69, 25);
    background-color: rgb(0, 0, 0);
    z-index: 100;
}
#startGameButton{
  background-color: #214ca2;
  color: black;
  position: absolute;
  top: 67vh;
  left: 40vw;
  width: 15vw;
  height: 10vh;
  z-index: 101;
  font-size:x-large;
  font-weight: bold;
  font-family:Impact, fantasy;
  border: 3px inset #143464;
  border: 3px outset #102a51;
  border-radius: 10px;
}

#pauseGameButton{
  background-color: #214ca2;
  color: black;
  display: none;
  position: absolute;
  top: 90vh;
  left: 85.5vw;
  width: 15vw;
  height: 10vh;
  z-index: 101;
  font-size:x-large;
  font-weight: bold;
  font-family:Impact, fantasy;
  border: 3px inset #143464;
  border: 3px outset #102a51;
  border-radius: 10px;
}

#logo {
  position: absolute;
  left: 200;
  top: 100;
  z-index: 2;
}

#send_button {
  position: absolute;
  top: 120px;
  left: 20px;
}